/* GENERICS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
}

li {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}
